<ion-view title="Actualité">
    <ion-content class="has-header padding">
        <div class="list card">

            <div class="item item-avatar red-cards">
                <img src="img/doudou.png">
                <h2>Mathéa Renaudie</h2>
                <p>Nail'artist pur et dur</p>
            </div>

            <div class="item item-body ">
                <img class="full-image" src="img/ongle.png">
                <p>
                    This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
      the content is from a card-body consisting of an image and paragraph text. The footer
      consists of tabs, icons aligned left, within the card-footer.
                </p>
                <p>
                    <a href="#" class="subdued">1 Like</a>
                    <a href="#" class="subdued">5 Comments</a>
                </p>
            </div>

            <div class="item tabs tabs-secondary tabs-icon">
                <a class="tab-item" href="#"> <i class="icon ion-thumbsup"></i>
                    Like
                </a>
                <a class="tab-item" href="#"> <i class="icon ion-chatbox"></i>
                    Comment
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-share"></i>
                    Share
                </a>
            </div>
        </div>

        <div class="space-tab"></div>
    </ion-content>
</ion-view>
