<!--
  Create tabs with an icon and label, using the tabs-positive style.
  Each tab's child <ion-nav-view> directive will have its own
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top">


  <!-- Actualité Tab -->
  <ion-tab title="Actualité" icon-on="ion-ios7-bookmarks custom-actu" icon-off="ion-ios7-bookmarks" href="#/tab/actu">
    <ion-nav-view name="tab-actu"></ion-nav-view>
  </ion-tab>


  <!-- Profil Tab -->
  <ion-tab title="Profil" icon-on="ion-ios7-person custom-profil" icon-off="ion-ios7-person" href="#/tab/profil">
    <ion-nav-view name="tab-profil"></ion-nav-view>
  </ion-tab>


  <!-- Appareil Tab -->
  <ion-tab title="Appareil" icon-on="ion-ios7-camera custom-app" icon-off="ion-ios7-camera" href="#/tab/appareil">
    <ion-nav-view name="tab-appareil"></ion-nav-view>
  </ion-tab>

   <!-- Plus Tab -->
  <ion-tab title="Plus" icon-on="ion-ios7-plus custom-plus" icon-off="ion-ios7-plus" href="#/tab/plus">
    <ion-nav-view name="tab-plus"></ion-nav-view>
  </ion-tab>


</ion-tabs>
